<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>Food Articles</title>
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Food News</h1>
      <p class="lead text-center">Here is the latest news from Food Network. What do you think about it. Leave a
        message on you thoughts.</p>
    </div>
  </div>
  <div>
    {{{body}}}
  </div>

  <footer class="page-footer bg-light py-4 mt-4">
    <div class="footer-copyright container ">
      <div class="text-center align-middle">
        Harms Associates Inc. © 2018
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/js/notes.js"></script>
</body>

</html>